@media (max-width: 400px) {
    #ratingstate {
        width: 100%;
        max-width: 230px;
        font-size: 11px;
        padding: 25px;
    }

    h1 {
        font-size: 1.4rem;
    }

    .paragraph1 {
        margin-bottom: 25px;
    }

    span {
        padding: 9px 14px;
    }

    button {
        padding: 8px;
        margin-top: 25px;
        font-size: 11px;
    }

    .thankyoustate {
        width: 100%;
        max-width: 230px;
        padding: 25px;
        font-size: 11px;
    }

    .attribution {
        font-size: 8px;
        text-align: center;
    }

}